PRIVATE_KEY=
DRY_RUN=false
WALLET_ADDRESS=0x88f46b9e5d86b4fb85be55ab0ec4004264b9d4db #PBot1
REDIS_URL=
POLYMARKET_RELAYER_URL=https://relayer-v2.polymarket.com/
PROXY_WALLET=0x2765B2B2DD655169a9D34E21fd80229fEbF4dc7F
POLY_BUILDER_API_KEY=
POLY_BUILDER_SECRET=
POLY_BUILDER_PASSPHRASE=
MIN_SLUG_TIMESTAMP=1772036700
# true = bật Cron2 (redeem positions mỗi 5 phút)
AUTO_CLAIM=false
